# Introduction

This report is based on a TMDB Movies dataset as the selected choice to analyse about 10,000 movies collected from The Movie Database (TMDb), including user ratings and revenue. With the aim to answer questions such as:

- Which genres are most popular from year to year? 
- What kinds of properties are associated with movies that have high revenues?

Try to build your report around the analysis of at least one dependent variable and 
three independent variables.
make sure you familiarize yourself with the variables and the dataset context for ideas 
of what to explore.

In [3]:
# Imports statements for all of the packages to be use. Including magic word for plot:

import pandas as pd
import numpy as np


%matplotlib

# Loads CSV file:

filename= "tmdb-movies.csv"
df = pd.read_csv(filename)

Using matplotlib backend: MacOSX

In [4]:
# Allows to see which columns have missing values()

df.info()  
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

(10866, 21)

In [5]:
# Trims and cleans data set for analysis:

to_drop = ['imdb_id','cast','homepage', 'director', 'tagline', 'keywords','overview','production_companies']
df.drop(to_drop, inplace= True, axis=1) # Drops columns that are not useful for analysis and updates dataframe
df.reset_index(level=0, drop=True)  # Resets dataframe index
df.shape  #shows dataframe dimension after previous changes

(10866, 13)

In [6]:
# Explores data
df.tail()

,id,popularity,budget,revenue,original_title,runtime,genres,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10861,21,0.080598,0,0,The Endless Summer,95,Documentary,6/15/66,11,7.4,1966,0.000000,0.0
10862,20379,0.065543,0,0,Grand Prix,176,Action|Adventure|Drama,12/21/66,20,5.7,1966,0.000000,0.0
10863,39768,0.065141,0,0,Beregis Avtomobilya,94,Mystery|Comedy,1/1/66,11,6.5,1966,0.000000,0.0
10864,21449,0.064317,0,0,"What's Up, Tiger Lily?",80,Action|Comedy,11/2/66,22,5.4,1966,0.000000,0.0
10865,22293,0.035919,19000,0,Manos: The Hands of Fate,74,Horror,11/15/66,15,1.5,1966,127642.279154,0.0

In [37]:
# Changes data types:

df['popularity'] = df['popularity'].astype(np.int64)
df['genres'] = df['genres']
df[df['original_title'].apply(lambda x: type(x)==str)]
#df[df['genres'].apply(lambda x: type(x)==str)]
#df[df['original_title'].apply(lambda x: type(x)==str)]
df['release_date'] = pd.to_datetime(df['release_date'])
df['budget_adj'] = df['budget'].astype(np.int64)
df['revenue_adj'] = df['revenue'].astype(np.int64)

#type(df)
type(df.original_title)

pandas.core.series.Series

In [8]:
# Data Wrangling: Checking for cleanliness.

# Checks columns with NaN cells:
null_columns= df.columns[df.isnull().any()]

print('Columns with NaN cells', df[null_columns].isnull().sum())
df.shape  #shows dataframe dimension

Columns with NaN cells genres    23
dtype: int64

(10866, 13)

In [9]:
# Drops rows with NaN values:

NaN_row = df.isnull().sum().sum()
df= df.dropna()
NaN_row2 = df.isnull().sum().sum()

print('{} NaNs before cleanup and {} after.'.format(NaN_row,NaN_row2))
df.shape

23 NaNs before cleanup and 0 after.

(10843, 13)

In [10]:
# Checks and Drops duplicates:

dup_bef = sum(df.duplicated())

df.drop_duplicates(keep=False, inplace=True) # Drops duplicates and update dataframe
dup_aft = sum(df.duplicated())

print('{} Duplicate(s) before cleaning  and {} after.'.format(dup_bef,dup_aft))

1 Duplicate(s) before cleaning  and 0 after.

In [11]:

df.shape

(10841, 13)

In [12]:
# Index dataframe by popularity, genres and tittle to create a pivot view

df = df.sort_values(by=['release_year','genres','popularity','original_title'],ascending=False)

idx= ['release_year','genres','popularity','original_title']  # Mutiple indexing

df2 = df.set_index(idx)
df2.head()

                                                                                                    id  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                           281957
             Western|Drama                    0          Forsaken                               354110
             War|Drama                        0          Hyena Road                             316042
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2  131634
             War|Action                       0          War Pigs                               348811

                                                                                                   budget  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                           135000000
             Western|Drama                    0          Forsaken                                11000000
             War|Drama                        0          Hyena Road                                     0
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2  160000000
             War|Action                       0          War Pigs                                       0

                                                                                                  revenue  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                           532950503
             Western|Drama                    0          Forsaken                                       0
             War|Drama                        0          Hyena Road                                     0
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2  650523427
             War|Action                       0          War Pigs                                       0

                                                                                                runtime  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                               156
             Western|Drama                    0          Forsaken                                    90
             War|Drama                        0          Hyena Road                                 120
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2      136
             War|Action                       0          War Pigs                                    92

                                                                                               release_date  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                            2015-12-25
             Western|Drama                    0          Forsaken                                2015-09-16
             War|Drama                        0          Hyena Road                              2015-10-09
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2   2015-11-18
             War|Action                       0          War Pigs                                2015-08-03

                                                                                                vote_count  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                                 3929
             Western|Drama                    0          Forsaken                                       53
             War|Drama                        0          Hyena Road                                     29
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2        2380
             War|Action                       0          War Pigs                                       26

                                                                                                vote_average  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                                    7.2
             Western|Drama                    0          Forsaken                                        5.6
             War|Drama                        0          Hyena Road                                      5.7
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2           6.5
             War|Action                       0          War Pigs                                        4.9

                                                                                                budget_adj  \
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                            135000000
             Western|Drama                    0          Forsaken                                 11000000
             War|Drama                        0          Hyena Road                                      0
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2   160000000
             War|Action                       0          War Pigs                                        0

                                                                                                revenue_adj
release_year genres                           popularity original_title
2015         Western|Drama|Adventure|Thriller 9          The Revenant                             532950503
             Western|Drama                    0          Forsaken                                         0
             War|Drama                        0          Hyena Road                                       0
             War|Adventure|Science Fiction    5          The Hunger Games: Mockingjay - Part 2    650523427
             War|Action                       0          War Pigs                                         0

In [40]:

    
def reformat_movie_list(movies):
    name_list = []
    genre_list = []
    result = pd.DataFrame()
    
    for c in movies['genres']:
        d[c] += 1
    
    for i, movie in movies:
        movie_name = movies["original_title"]
        for agenre in movie["genres"].split("|"):
 
            name_list.append(movie_name)
            genre_list.append(agenre)
           
    result["name"] = name_list
    result["genre"] = genre_list
    
    print(d)
    return(result)


var = reformat_movie_list(df.iterrows())
print(var.head())

TypeError: 'generator' object is not subscriptable

In [ ]:
vadf.groupby(['genre']).sum()
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!