# Introduction

This report is based on a TMDB Movies dataset as the selected choice to analyse about 10,000 movies collected from The Movie Database (TMDb), including user ratings and revenue. With the aim to answer questions such as:

- Which genres are most popular from year to year? 
- What kinds of properties are associated with movies that have high revenues?

Try to build your report around the analysis of at least one dependent variable and 
three independent variables.
make sure you familiarize yourself with the variables and the dataset context for ideas 
of what to explore.

In [179]:
# Imports packages and magic word for visualization

import pandas as pd
import numpy as np
import seaborn as snb
import matplotlib.pyplot as plt
snb.set()
%matplotlib

Using matplotlib backend: MacOSX

In [180]:
# Loads CSV file

filename= "tmdb-movies.csv"
df = pd.read_csv(filename)
df.head(2)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08

In [181]:
# Allows to see dataframe general information

df.info()  
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

(10866, 21)

In [182]:
# Trims and drops columns

to_drop = ['imdb_id','cast','homepage', 'director', 'tagline', 'keywords','overview','production_companies']
df.drop(to_drop, inplace= True, axis=1) # Drops columns that are not useful for analysis and updates dataframe
df.reset_index(level=0, drop=True)  # Resets dataframe index
df.shape  #shows dataframe dimension after previous changes

(10866, 13)

In [183]:
# Data Wrangling: Checking for cleanliness

df.dropna(inplace=True)  #Drops NaN rows
df.drop_duplicates(inplace=True)  #Drops duplicated rows

df.shape

(10842, 13)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10842 entries, 0 to 10865
Data columns (total 13 columns):
id                10842 non-null int64
popularity        10842 non-null float64
budget            10842 non-null int64
revenue           10842 non-null int64
original_title    10842 non-null object
runtime           10842 non-null int64
genres            10842 non-null object
release_date      10842 non-null object
vote_count        10842 non-null int64
vote_average      10842 non-null float64
release_year      10842 non-null int64
budget_adj        10842 non-null float64
revenue_adj       10842 non-null float64
dtypes: float64(4), int64(6), object(3)
memory usage: 1.2+ MB

In [185]:
# Assign correct data types to each column

df['popularity'] = df.popularity.astype(np.int64)
df['genres'] = df.genres.astype(str)
df['original_title'] = df.original_title.astype(str)
df['release_date'] = pd.to_datetime(df.release_date)
df['budget_adj'] = df.budget.astype(np.int64)
df['revenue_adj'] = df.revenue.astype(np.int64)

In [186]:
# Slices dataframe for year view

drop_for_year = ['id','budget_adj','budget_adj','vote_average','release_date','runtime']
df_by_year = df.drop(drop_for_year, axis=1)  # Without the inplace feature this creates a copy by default
df_by_year.groupby('release_year')
df_by_year.sort_values(by=['release_year','popularity'],ascending=False)
df_by_year.describe()

,popularity,budget,revenue,vote_count,release_year,revenue_adj
count,10842.000000,1.084200e+04,1.084200e+04,10842.000000,10842.000000,1.084200e+04
mean,0.277347,1.465531e+07,3.991138e+07,217.823649,2001.314794,3.991138e+07
std,0.954698,3.093971e+07,1.171179e+08,576.180993,12.813617,1.171179e+08
min,0.000000,0.000000e+00,0.000000e+00,10.000000,1960.000000,0.000000e+00
25%,0.000000,0.000000e+00,0.000000e+00,17.000000,1995.000000,0.000000e+00
50%,0.000000,0.000000e+00,0.000000e+00,38.000000,2006.000000,0.000000e+00
75%,0.000000,1.500000e+07,2.414118e+07,146.000000,2011.000000,2.414118e+07
max,32.000000,4.250000e+08,2.781506e+09,9767.000000,2015.000000,2.781506e+09

In [192]:
# Index dataframe by popularity, genres and tittle to create a pivot view

df_by_year = df.set_index('original_title').groupby('release_year')['popularity'].nlargest(3).reset_index()
#print (df_by_year)
df_by_year = df_by_year.sort_values(by=['release_year','popularity','original_title'],ascending=False)




idx= ['release_year','popularity','original_title']  # Mutiple indexing
df_by_year = df_by_year.set_index(idx)
df_by_year.head(20)

Empty DataFrame
Columns: []
Index: [(2015, 32, Jurassic World), (2015, 28, Mad Max: Fury Road), (2015, 13, Insurgent), (2014, 24, Interstellar), (2014, 14, Guardians of the Galaxy), (2014, 12, Captain America: The Winter Soldier), (2013, 6, Frozen), (2013, 5, Thor: The Dark World), (2013, 5, Gravity), (2012, 7, Underworld: Awakening), (2012, 7, The Avengers), (2012, 6, The Dark Knight Rises), (2011, 8, Underworld: Endless War), (2011, 7, Captain America: The First Avenger), (2011, 5, Drive), (2010, 9, Inception), (2010, 5, Iron Man 2), (2010, 5, Alice in Wonderland), (2009, 9, Avatar), (2009, 6, Inglourious Basterds)]

In [188]:
# Index dataframe by popularity, genres and tittle to create a pivot view

df_by_year = df_by_year.sort_values(by=['release_year','popularity','original_title'],ascending=False)


#df_by_year = df.set_index('original_title','release_year','popularity').groupby('release_year')['popularity'].nlargest(3).reset_index()
#print (df_by_year)

idx= ['release_year','popularity','original_title']  # Mutiple indexing
df_by_year = df_by_year.set_index(idx).nlargest(3)
df_by_year.head(20)

KeyError: 'release_year'

In [ ]:
df_by_year.describe()

In [ ]:

    
def reformat_movie_list(movies):
    name_list = []
    genre_list = []
    result = pd.DataFrame()
    
    for i, movie in movies:
        movie_name = movies["original_title"]
        for agenre in movie["genres"].split("|"):
 
            name_list.append(movie_name)
            genre_list.append(agenre)
           
    result["name"] = name_list
    result["genre"] = genre_list
    
    print(d)
    return(result)


var = reformat_movie_list(df.iterrows())
print(var.head())

In [ ]:
vadf.groupby(['genre']).sum()
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!